In [1]:
import pandas as pd
import numpy as np

In [2]:
def mean(lis=[]):
    sum_l = sum(lis)
    mean = sum_l / len(lis)
    print("Mean of the above list of numbers is: " + str(mean))

In [3]:
lis= [2, 4,5,8, 8, 6, ]
mean(lis)

Mean of the above list of numbers is: 5.5

In [12]:
def median(lis=[]):
    lis.sort()
    if len(lis) % 2 == 0:
        first_median = lis[len(lis) // 2]
        second_median = lis[len(lis) // 2 - 1]
        median = (first_median + second_median) / 2
    else:
        median = lis[len(lis) // 2]
   

    print("Median of above list is: " + str(median))

In [13]:
median(lis)

Median of above list is: 4.5

In [27]:
import collections
def mode(lis =[]):
    data = collections.Counter(lis)
    data_list = dict(data)
    max_value = max(list(data.values()))
    mode_val = [num for num, freq in data_list.items() if freq == max_value]
    print("The Mode of the list is : " + str(mode_val))

In [30]:
mode(lis)

The Mode of the list is : [8]

In [31]:
data = pd.read_csv("Train.csv")

In [32]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [33]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [34]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [37]:
mean(data['Item_Visibility'])

Mean of the above list of numbers is: 0.06613202877895127

In [39]:
mode(data['Item_Weight'])

The Mode of the list is : [12.15]

NameError: name 'sns' is not defined